### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
#Verified data is complete
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [3]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Eliminating duplicates
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df_nd = purchase_data.drop_duplicates(subset = "SN")

## Player Count

* Display the total number of players

In [6]:
playerCount = purchase_data["SN"].nunique()
playerCount_df = pd.DataFrame({
    "Total Players" : [playerCount]
})

#Formating
th_props = [
  ('font-size', '14px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', '#F7F5FB'),
  ('background-color', '#324A5F')
  ]

td_props = [
  ('font-size', '13px'),
    ('text-align', 'center')
  ]

styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)
  ]


(playerCount_df.style
    .set_table_styles(styles))

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Introduciong data into a df

purchasingAnalysis_df = pd.DataFrame({
    "Number of Unique Items" : purchase_data["Item Name"].nunique(),
    "Average Price" : [purchase_data["Price"].mean()],
    "Number of Purchases" : purchase_data["Purchase ID"].nunique(),
    "Total Revenue" : [purchase_data["Price"].sum()]
})


#Formating
th_props = [
  ('font-size', '14px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', '#F7F5FB'),
  ('background-color', '#324A5F')
  ]

td_props = [
  ('font-size', '13px'),
    ('text-align', 'center')
  ]

styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)
  ]


(purchasingAnalysis_df.style
    .format({'Average Price': "${:.2f}"})
     .format({'Total Revenue': "${:.2f}"})
    .set_table_styles(styles))

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
#Creating DF
gender_dem_df = pd.DataFrame ({
    "Total Count" : purchase_data_df_nd["Gender"].value_counts(),
    "Percentage of Players" : purchase_data_df_nd["Gender"].value_counts() * 100 / playerCount

})

#Formating
th_props = [
  ('font-size', '14px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', '#F7F5FB'),
  ('background-color', '#324A5F')
  ]

td_props = [
  ('font-size', '13px'),
    ('text-align', 'center')
  ]

styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)
  ]


(gender_dem_df.style
    .format({'Percentage of Players': "{:.2f}%"})
    .set_table_styles(styles))


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Creating DF (Maintained MFO order for consistency)
purchasing_analysis_g_df = pd.DataFrame ({
    "Gender" : ["Male", "Female", "Other / Non-Disclosed"],
    "Purchase Count" : purchase_data_df.groupby("Gender"
                                               )["Purchase ID"].count(),
    "Average Purchase Price" : purchase_data_df.groupby("Gender"
                                               )["Price"].mean(),
    "Total Purchase Value" : purchase_data_df.groupby("Gender"
                                               )["Price"].sum(),
    "Avg Total Purchase per Person" : purchase_data_df.groupby("Gender"
                                               )["Price"].sum()/
    purchase_data_df_nd["Gender"].value_counts()
    
})

purchasing_analysis_g_df = purchasing_analysis_g_df.set_index("Gender")

#Formating
th_props = [
  ('font-size', '14px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', '#F7F5FB'),
  ('background-color', '#324A5F')
  ]

td_props = [
  ('font-size', '13px'),
    ('text-align', 'center')
  ]

styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)
  ]


(purchasing_analysis_g_df.style
    .format({'Average Purchase Price': "${:.2f}"})
    .format({'Total Purchase Value': "${:,.2f}"})
    .format({'Avg Total Purchase per Person': "${:,.2f}"})
    .set_table_styles(styles))

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
bins =[0, 9, 14, 19, 24, 29, 34, 39, 99]

labels = ["<10","10-14","15-19", "20-24", "25-29", "30-34", "35-39",
         "40+"]
# I introduced an extra columns to see the composition of each age range per gender
maleF = purchase_data_df["Gender"] == "Male"
femaleF = purchase_data_df["Gender"] == "Female"

purchase_data_df_nd["Age Ranges"] = pd.cut(
    purchase_data_df_nd["Age"],
    bins,
    labels=labels)

purchase_data_male_nd = purchase_data_df_nd.loc[maleF]
purchase_data_female_nd = purchase_data_df_nd.loc[femaleF]
otherF = purchase_data_df["Gender"] == "Other / Non-Disclosed"

summary_demo_df = pd.DataFrame({
    
    "Total Count" : purchase_data_df_nd.groupby(
        "Age Ranges")["Age"].count(),
    "Percentage of Players": purchase_data_df_nd.groupby(
        "Age Ranges")["Age"].count() / playerCount * 100,
# I introduced an extra columns to see the composition of each age range per gender
    "Males" : purchase_data_male_nd.groupby(
        "Age Ranges")["Age"].count(),
    "Females" : purchase_data_female_nd.groupby(
        "Age Ranges")["Age"].count()
    
})
#Formating
th_props = [
  ('font-size', '14px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', '#F7F5FB'),
  ('background-color', '#324A5F')
  ]

td_props = [
  ('font-size', '13px'),
    ('text-align', 'center')
  ]

styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)
  ]


(summary_demo_df.style
    .format({'Percentage of Players': "{:.2f}%"})
    .set_table_styles(styles))

/Users/fer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
bins =[0, 9, 14, 19, 24, 29, 34, 39, 99]

labels = ["<10","10-14","15-19", "20-24", "25-29", "30-34", "35-39",
         "40+"]

purchase_data_df["Age Ranges"] = pd.cut(
    purchase_data_df["Age"],
    bins,
    labels=labels)

summary_ages_df = pd.DataFrame({
    
    "Purchase Count": purchase_data_df.groupby(
    "Age Ranges")["Purchase ID"].count(),
    
    "Average Purchase Price": purchase_data_df.groupby(
    "Age Ranges")["Price"].mean(),
                                
    "Total Purchase Value" : purchase_data_df.groupby(
    "Age Ranges")["Price"].sum(),
    
    "Avg Total Purchase per Person" : purchase_data_df.groupby(
    "Age Ranges")["Price"].sum()/ purchase_data_df_nd.groupby(
        "Age Ranges")["Age"].count()
     
})

#Formating
th_props = [
  ('font-size', '14px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', '#F7F5FB'),
  ('background-color', '#324A5F')
  ]

td_props = [
  ('font-size', '13px'),
    ('text-align', 'center')
  ]

styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)
  ]


(summary_ages_df.style
    .format({'Average Purchase Price': "${:.2f}"})
    .format({'Total Purchase Value': "${:,.2f}"})
    .format({'Avg Total Purchase per Person': "${:.2f}"})
    .set_table_styles(styles))

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# purchase_data_df["SN"].value_counts()

top_spenders_df = pd.DataFrame({
    "Purchase Count" : purchase_data_df.groupby("SN")["Purchase ID"].count(),
    "Average Purchase Price" : purchase_data_df.groupby("SN")["Price"].sum()  
    / purchase_data_df.groupby("SN")["Purchase ID"].count(),
    "Total Purchase Value" : purchase_data_df.groupby("SN")["Price"].sum(),
})


top_spenders_df.sort_values(ascending = False, by = "Total Purchase Value").head(5)


#Formating
th_props = [
  ('font-size', '14px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', '#F7F5FB'),
  ('background-color', '#324A5F')
  ]

td_props = [
  ('font-size', '13px'),
    ('text-align', 'center')
  ]

styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)
  ]


(top_spenders_df
    .sort_values(ascending = False, by = "Total Purchase Value")
    .head(5).style
    .format({'Average Purchase Price': "${:.2f}"})
    .format({'Total Purchase Value': "${:.2f}"})
    .set_table_styles(styles))

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [7]:
top_items_df = pd.DataFrame({
    
    "Item Name" : purchase_data_df.groupby(
        "Item ID")["Item Name"].first(),
    "Purchase Count" : purchase_data_df.groupby(
        "Item ID")["Purchase ID"].count(),
    "Item Price" : purchase_data_df.groupby(
        "Item ID")["Price"].mean(),
    "Total Purchase Value": purchase_data_df.groupby(
        "Item ID")["Price"].sum(),
    
 })

top_items_df = top_items_df.

#Formating
th_props = [
  ('font-size', '14px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', '#F7F5FB'),
  ('background-color', '#324A5F')
  ]

td_props = [
  ('font-size', '13px'),
    ('text-align', 'center')
  ]

styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)
  ]


(top_items_df
    .sort_values(by = "Purchase Count", ascending = False)
    .head(5)
    .style
    .format({'Item Price': "${:.2f}"})
    .format({'Total Purchase Value': "${:.2f}"})
    .set_table_styles(styles))

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
top_items_df = pd.DataFrame({
    
    "Item Name" : purchase_data_df.groupby(
        "Item ID")["Item Name"].first(),
    "Purchase Count" : purchase_data_df.groupby(
        "Item ID")["Purchase ID"].count(),
    "Item Price" : purchase_data_df.groupby(
        "Item ID")["Price"].mean(),
    "Total Purchase Value": purchase_data_df.groupby(
        "Item ID")["Price"].sum(),
    
 })

#Formating
th_props = [
  ('font-size', '14px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', '#F7F5FB'),
  ('background-color', '#324A5F')
  ]

td_props = [
  ('font-size', '13px'),
    ('text-align', 'center')
  ]

styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)
  ]


(top_items_df
    .sort_values(by = "Total Purchase Value", ascending = False)
    .head(5)
    .style
    .format({'Item Price': "${:.2f}"})
    .format({'Total Purchase Value': "${:.2f}"})
    .set_table_styles(styles))

# Observable Trends


The vast majority of our users are male in the 20 to 24 age range. (214 out of 484)

Females are also mostly concentrated in the same age group. (40 out of 81)

Even though males (4.07) account for a much bigger total purchase value, females (4.47) and others (4.56) have a higher avg purchase per person 

The age range with highest purchase per person is 35 to 39 years old (4.76), surprisingly followed by less 10 years old users ($ 4.54). 

Roughly 80% of our total purchase value comes from ages 15 to 29.

The purchase count per user is relatively low.

Our highest individual total purchase value comes from user Lisosia93 with a total of $18.96, a 25 year old male.

In [ ]:
# with pd.ExcelWriter('Resources/finalReport.xlsx') as writer:  

#     gender_dem_df.to_excel(
#         writer, sheet_name='Gender Demographics')

#     purchasing_analysis_g_df.to_excel(
#         writer, sheet_name='Purchasing Analysis (Gender)')
    
#     summary_demo_df.to_excel(
#         writer, sheet_name='Age Demographics')
    
#     summary_ages_df.to_excel(
#         writer, sheet_name='Purchasing Analysis (Age)')
    
#     top_spenders_df.to_excel(
#         writer, sheet_name='Top Spenders')